body {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

code {
    display: block;
    font-weight: bold;
    font-size: 20px;
}

section {
    padding: 20px;
    width: 50%;
    background-color: antiquewhite;
    border-radius: 5px;
    border: 5px solid rgb(136, 118, 118);
}

input {
    padding: 10px;
    font-size: 14px;
    border: none;
}

ul {
    margin-left: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li {
    font-size: 16px;
    list-style-type: decimal;
    font-weight: 550;
}

button {
    border: none;
    padding: 10px;
    background-color: sandybrown;
    border-radius: 4px;
    font-weight: 700;
}

button:hover {
    background-color: seagreen;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}